.main
    background: no-repeat center center url('../../assets/img/bg.png')
    background-size: cover 
    height: 100vh
    &__info
        margin-top: 135px
    &__status
        width: 50px
        height: 20px
        background: #E50914
        font-size: 12px
        display: flex
        justify-content: center
        align-items: center
        font-weight: 600
        border-radius: 10px
        cursor: pointer
    &__title
        font-size: 60px
        font-weight: 600
        margin-top: 3px
    &__desc
        width: 424px
        margin: 20px 0
    &__date
        span
            color: #FF0E1E
            margin: 0 5px
    &__group
        margin-top: 20px
        display: flex
        align-items: center
    &__review
        margin-left: 8px
        font-weight: 600
        font-size: 24px
        margin-right: 20px
    &__genre
        span
           color: #FF0E1E
           margin-left: 5px
