@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500;600&display=swap");

body {
  background-color: #0D0C11;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0;
  color: #ffff;
  font-size: 14px;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;

}
